body {
    background: #FFF2CD;
    color: black;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F8DB83;
}

.header-links {
    float: right;
    display: inline-block;
}

.header-logo {
    margin-left: 15px;
}

.header-title {
    text-align: center;
    font-size: xx-large;
}

img {
    width: 100px;
    height: 100px;
    align-content: center;
}
.showdescription {
    width: 12px;
}
.tvshow {
    width: 300px;
    height: 150px;
    display: inline-block;
}

.thumbnail {
    display: inline-block;
    width: 100px;
    height: 100px;
}
.comment {
    float: bottom;
    margin-top: 10px;
    margin-left: 75px;
    width: 20px;
    height: 20px;
}
footer {
    float: top;
}

.footer-nav {
    display: flex;
    align-items: center;
    position: center;
}

.footer-nav ul {
    list-style: none;
    list-style-position: outside;
}

.footer-nav ul li {
    float: left;
    border-right: 1px solid #000000;
    padding: 0 10px;
    font-size: 10px;
    line-height: 10px;
}

.footer-nav ul li a {
    color: #000000;
}

.footer-nav ul li a:hover {
    color: #878684;
    text-decoration: none;
}

.footer-nav ul li.last {
    border-right: 0;
}

.checked {
    color: orange;
}

/* nav */
.nav {
    position: relative;
    margin: 20px 0;
    background-color: #F8DB83;
}

.nav ul {
    margin: 0;
    padding: 0;
}

.nav li {
    margin: 0 5px 10px 0;
    padding: 0;
    list-style: none;
    display: inline-block;
}

.nav a {
    padding: 3px 12px;
    text-decoration: none;
    color: #999;
    line-height: 100%;
}

.nav a:hover {
    color: #000;
}

.nav .current a {
    background: #999;
    color: #fff;
    border-radius: 5px;
}

.nav.right ul {
    text-align: right;
}

.nav.center ul {
    text-align: center;
}

@media screen and (max-width: 600px) {
    .nav {
        position: relative;
        min-height: 40px;
    }

    .nav ul {
        width: 180px;
        padding: 5px 0;
        position: absolute;
        top: 0;
        left: 0;
        border: solid 1px #aaa;
        background: #fff no-repeat 10px 11px;
        border-radius: 5px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, .3);
    }

    .nav li {
        display: none; /* hide all <li> items */
        margin: 0;
    }

    .nav .current {
        display: block; /* show only current <li> item */
    }

    .nav a {
        display: block;
        padding: 5px 5px 5px 32px;
        text-align: left;
    }

    .nav .current a {
        background: none;
        color: #666;
    }

    /* on nav hover */
    .nav ul:hover {
        background-image: none;
    }

    .nav ul:hover li {
        display: block;
        margin: 0 0 5px;
    }

    .nav ul:hover .current {
        background: #aaaaaa no-repeat 10px 7px;
    }

    /* right nav */
    .nav.right ul {
        left: auto;
        right: 0;
    }

    /* center nav */
    .nav.center ul {
        left: 50%;
        margin-left: -90px;
    }

}

@media (max-width: 700px) {
    header {
        /* Меняем оси шапки, делая её вертикальной. */
        flex-direction: column;

        /* Выравнивание элементов шапки с начала (по левому краю). */
        align-items: flex-start;
    }
}

